.aida-hotel{
    background-color: var(--primary-color);
}
.container .logo .menu{
    padding-top: 20px;
}
 .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
 button{
      cursor: pointer;
      font-size: 25px;
  }
  
  .aida-hotel .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondry-color);
    min-width: 160px;
    min-height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
    background-color: var(--third-color);
    margin-top: 5px;
  }
  
.aida-hotel .dropdown-content a{
      display: block;
      text-decoration: none;
      color: white;
      margin-top:5px ;
  }
.aida-hotel a:hover{
      color: black;
  } 

.aida-hotel .nav{
    background-color: rgb(186, 217, 238);
    text-align: right;
    margin: 30px;
    letter-spacing: 2px;
    border-bottom: 2px solid #0071c2;
    border-radius: 10px;
}
.aida-hotel ul{
    list-style: none;
    text-align: center;
    font-size: 28px;
    margin: 5px;
    padding: 15px;
}
.aida-hotel li{
    margin: 1px;
    display: inline-block;

}
.aida-hotel a{
    text-decoration: none;
    color:#0071c2 ;
}



.aida-hotel h1{
    width: 725px;
    margin: auto; 
    text-align: center;
    font-size: 40px;
    padding: 0 1px;
    color: #bf2525cc;
    border-bottom: 2px solid red;
    border-radius: 15px;
    box-shadow: 6px 6px 15px 0;
    background-color: #9bcdf1;
}



.aida-hotel .hotel{
    /* background-color: rgba(238, 238, 238, 0.733); */
    width: auto;
    height: auto;
    margin: 0 100px;
}
.aida-hotel .main-hotel{
    width: 800px;
    height: 700px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    gap: 10px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.aida-hotel .inner-award2.imag2{
    width:200px;
    height:150px;
}


.aida-hotel h2{
    text-align: right;
    /* padding: 0 30px;
    margin: 15px 50px; */
    color: var(--third-color);
}
 .aida-hotel .write{
     color: var(--secondry-color);
    text-align: center;
    font-size: 20px;
    padding:0 30px ;
    margin: 0 50px;
}
.aida-hotel .room{
    flex: 1 1 300px;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap; 
}
.aida-hotel .room img.mo{
    width: 300px;
    height: 150px;
    padding: 5px;
    margin: 5px;

}
.aida-hotel .inner-award1 .imag1{
    width: 320px;
    height: 206px;
}
.aida-hotel img.imag2{
    width: 320px;
    height: 206px;
}
.aida-hotel img.imag3{
    width: 210px;
    height: 207px;
}
.aida-hotel img.imag4{
    width: 320px;
    height: 207px;

}
.aida-hotel img.imag5{
    width: 540px;
    height: 430px;
}
.aida-hotel img.imag6{
    width: 320px;
    height: 207px;
}
.aida-hotel .inner-award1{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3
}
.aida-hotel .inner-award2{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}
.aida-hotel .inner-award3{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
}
.aida-hotel .inner-award4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
}
.aida-hotel .inner-award5{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}
.aida-hotel .inner-award6{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}


.aida-hotel .icons{
    width: 700px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.aida-hotel .icons i{
    color: var(--secondry-color);
    font-size: 20px;
}


.aida-hotel .btn{
    background-color: var(--third-color);
    /* width: 140px; */
    width: 256px;
    height: 45px;
    cursor: pointer;
}
.aida-hotel .btn:hover{
    box-shadow: 4px 4px 5px 0;
}
.aida-hotel span{
    color: white;
    font-size: 20px;
}

.aida-hotel .texp{
    color: var(--secondry-color);
    font-size: 20px;
    word-spacing: 5px;
    margin: 15px 100px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

.aida-hotel .butn{
    margin: 15px 50px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.aida-hotel aside{
    background-color: #ebf3ff;;
    width: 270px;
    height: 270px;
    text-align: right;
    padding: 0 10px;
}
.aida-hotel .asy{
    text-align: right;
    font-size: 15px;
    padding: 0 0;
    margin: 5px 0;
}
.aida-hotel .foo{margin: 20px 0;}





















