.air .ticket{
    width: 70%;
    height: 630px;
    margin: auto;
    margin-top: 30px;
    padding-left: 30px;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
}

.air .ticket::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #e3e3e3;
    bottom: -100px;
}

.air .ticket:hover
{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2) ;
}

.air .header {
    margin-left: 50px;
    margin-top: 30px;
    padding-left: 30px;
     width: 65%;
     height: 60px;
     color: aliceblue;
     background-color:lightskyblue;
     font-size: 25px;
     font-weight: 600;
     border-radius: 6px;
   }
 .air   .container{
   margin-left: 10px;

   padding-left: 20px;
   font-size: 30px;
  }
 .air  .take{
    padding: 20px 0;
    font-size: 27px;
    color: blue;
  }
 .air  .place{
     margin: 20px 0;
    font-weight: 700;
    color: brown;
  }
 .air  .time {
     margin: 20px 0;
      font-size: 25px;
      padding-left: 20px;
      color: cornflowerblue;
  }
 .air  .date{
     margin: 20px 0;
      font-size: 23px;
      color: dodgerblue;
      font-weight: 600;
  }
 .air  img{
      width: 280px;
      height: 260px;
      padding-bottom: 40px;
      position: absolute;
      right: 0;
  }
 
 .air .size {
     font-size: 24px;
     color: deepskyblue;
     padding-left: 30px;
 }
 .air .zone {
     font-size: 24px ;
     color: deepskyblue;
     padding-left: 30px;
 }
 .air .should{
     width : 60% ; 
     height: 54px;
     padding-left: 9px;
     padding-top: 1px;
     background-color: silver ;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 19px;
     font-weight: 600;
     border-radius: 7px;
 }
 .air .end{
     width: 80%;
     height: 35px;
 }
 .air .price {
     width: 50%;
     height: 110px;
     background:deepskyblue;
     padding-left: 20px;
     font-size: 29px;
     font-weight: 700;
     font-family: Arial, Helvetica, sans-serif;
     border-radius: 8px;
 }
 .air .btn{
    display: inline-block;
    text-decoration: none;
    color:cornflowerblue;
    border: 3px solid white;
    padding: 20px 34px;
    background-color:black;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: 29px;
    margin: 50px 0;
 }
 .air .btn:hover{

    border: 1px solid #f44336 ;
    background:blue;
    transition: 1s;
}

