.car-booking .father{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/car3.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;   
}
.car-booking nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
  
}
.car-booking nav a {
    text-decoration: none;
    color: azure;
}


.car-booking .textbox{
    width: 90%;
    color: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.car-booking .textbox h1{
    font-size: 60px;  
}
.car-booking .textbox p{
    margin: 10% 0 40px;
    font-size: 29px;
    color:blanchedalmond;
}
.car-booking .herobtn{
    display: inline-block;
    text-decoration: none;
    color: wheat;
    border: 1px solid white;
    padding: 12px 34px ;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.car-booking .herobtn:hover{

    border: 1px solid #f44336 ;
    background: #f44336;
    transition: 1s;
}

.car-booking .Exhibition{
    color: var(--secondry-color);
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.car-booking .Exhibition-col{
    border-radius: 10px ;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    flex-basis: 32%;  
}
.car-booking .Exhibition-col img{
width: 100%;
display: block;

}
.car-booking .say {
    font-size: 35px;
}
.car-booking .capacity {
    font-size: 30px;
}
.car-booking .price {
    display: inline-block;
    text-decoration: none;
    color:var(--secondry-color);
    
    border: 1px solid white;
    padding: 12px 34px ;
    font-size: 19px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.car-booking .price:hover{
    border: 1px solid #f44336 ;
    background:silver ;
    transition: 1s;
}

.car-booking .layer {
    
    background: transparent ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.car-booking .layer:hover{
    background: rgb(65,161,221, 0.7);
}
.car-booking .layer h3{
    width: 100%;
    font-weight: 500;
    color:blue;
    font-size: 27px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.car-booking .layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.car-booking hr{

    border: 10px solid ;
    color: dodgerblue;
  border-radius: 8px;
  width: 650px;
  
}