.checkin{
  color:black;
  height: 1000px;
  margin-top: 70px;
}
.checkin .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
 .checkin .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
.checkin .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
.checkin .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
 .checkin .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .checkin .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
 .checkin input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
 .checkin label {
    margin-bottom: 10px;
    display: block;
  }
  
 .checkin .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
 .checkin #btn {
    background-color: var(--third-color);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
 .checkin .btn:hover {
    background-color: #45a049;
  }
  
 .checkin span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .checkin .row {
      flex-direction: column-reverse;
    }
   .checkin .col-25 {
      margin-bottom: 20px;
    }
  }