
.home .col-white 
{
    color:var(--primary-color);
}

.home .txt-cen 
{
    text-align: center;
}

.home .home-intro 
{ 
    padding: 40px 0;
    background-color:#003580;
}

.home div
{
    display: block;
}


.home .container
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.home .fw-bold {
    font-weight: bold;
}

.home .wave-line
{
    transform: rotate(-180deg);
    margin-top: -2px;
    fill:#003580;
}

.home .pb-60 
{
    padding-bottom: 60px;
}

.home .pt-60 
{
    padding-top: 60px;
}

/* .grid
{
    display: grid;
    gap: 50px;
} */

.home .in-bl
{
    display: inline-block;
}

.home .option
{
    padding: 50px;
    background-color:var(--third-color);
    margin-top:20px ;
    margin-right: 75px;
    border-radius: 50px;
    transform: scale(1);
    transition: 0.8s;
    box-shadow: 2px 1px 25px 0px rgb(1 1 1 / 75%);
}

.home a
{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 35px;
    color: var(--primary-color);    
}

.home .services i
{
font-size: 100px ;
color: var(--secondry-color);
}

.home .our-services
{
    margin-bottom: 20px;

}

.home .our-services h2
{
    font-size:45px;
    color: var(--secondry-color);
}
 
.home .option:hover
{
    background-color:#101480;
    /* padding: 60px; */
    transform: scale(1.1);
    box-shadow: 2px 1px 25px 0px rgba(255, 234, 0, 0.559);
}


.home a:hover
{
   color: #00803e;
}

.home .features
{
background-color: beige;
margin-top: 50px;
margin-bottom: 20px;
border-radius: 20px;
margin-left: 20px;
margin-right: 20px;
}

.home .i-features
{   
    display:inline-block ;
    margin: 10px;
    background-color:transparent;
    border-radius:20px ;
    padding: 5px;

}

.home .h-features i
{   
    font-size: 28px;
    color:#003580;
    font-weight: bold;

}

.home .i-features i
{   
    font-size: 40px;
    color:var(--third-color);
    margin: 10px;
} 

.home .i-features:hover
{
    background-color:#80cfff;
}

.home .h-features h1
{
    border-bottom:3px var(--third-color) solid ;
}
/*ahmed makboul update*/
.home .home-page{
    position: relative;
}
.home #loginplace{
    text-align: end;
    width: fit-content;
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  /*z-index: 6;*/
  font-size: small;
}
.home #place{
    text-align: end;
    width: fit-content;
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  font-size: small;
}
.home #profile1{
    position: absolute;
    width: fit-content;
   
   
   padding: 8px;
   right: 131px;
   top: 13px;
   border-radius: 5px;
   font-family: cursive;
   display: none;
}


/* end*/