body{
margin: 0%;
}
.box-sign-up{
    width: 800px;
    height: 500px;
    margin: 150px auto;
    border-radius: 20px;
    background: linear-gradient(to right, blue 50%,white 50%);
   box-shadow: 0px 14px 41px 2px rgb(158, 154, 154);
   position: relative;
}
.welcome{
    margin:  130px 80px ;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.ahmeed{
    max-width: 360px;
    text-align: center;
    margin: 0px 20px;
    margin-top: 180px;
    position: absolute;
    color: aliceblue;
    word-spacing: 1px;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    word-spacing: 0.5px;
    background-color: rgb(24, 8, 244);
    padding: 8px 35px;
    font-size: large;
    font-family: sans-serif;
    border-radius: 22px; 
    position: absolute;
    left: 125px;
    top: 300px;
    border: 2px solid rgb(255, 255, 255);
    
    
}
.link:hover{
    background-color:rgba(19, 18, 21, 0.5);
    transition: 0.4s;
}
.logo{

    color: white;
    background-color:  rgba(22, 22, 156, 0.861);
    width: fit-content;
    font-family: cursive;
    padding: 8px 10px 10px 10px;
    border: 1px solid  rgba(22, 22, 156, 0.861);
    border-radius: 5px;
    margin-left: 140px;
    position: absolute;
    top: 20px; 

}

.form{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 400px;
}
.text-in-form{

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 30px;
width: fit-content;
margin: 30px ;
position: absolute;
 left: 70px; 

}
.org-form{
    position: absolute;
    left: 85px;
    top: 150px;
}
#username{
    width: 230px;
    height: 30px;
    margin-bottom: 15px;
    font-size: medium;
    background-color: #eee;
    padding-left: 5px; 
    border-radius: 5px;
    border:2px solid #eee;
}
.username:focus{
    outline-color :#ec0f0f;
}
#email{
    width: 230px;
    height: 30px;
    margin-bottom: 15px;
    font-size: medium;
    background-color: #eee;
    padding-left: 5px; 
    border-radius: 5px;
    border:2px solid #eee;
}
#Password{
    width: 230px;
    height: 30px;
    margin-bottom: 15px;
    font-size: medium;
    background-color: #eee;
    padding-left: 5px; 
    margin-right: 74px;
    border-radius: 5px;
    border:2px solid #eee;
}
#btn{
width: 140px;
height: 40px;
color: rgb(255, 255, 255);
border: 3px solid rgb(62, 12, 241);
border-radius: 28px;
font-size: medium;
background-color: rgb(14, 98, 243);
margin: 0px 49px;
cursor: pointer;
}
#btn:hover{
    background-color:  rgb(14  98 243 / 90%);
    
    transition: 0.4s;
}