/*start profile*/
.profile {
    height: 700px;
    position: relative;
}
.profile .container{
    position: absolute;
    height: 65%;
    width: 45%;
    border-bottom: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.profile .container .card{
    background-color: #32384f;
    width: 100%;
    height: 90%;
    margin: auto;
    padding: 40px ;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}
.profile .container .card i{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #e6e6e6;
    color: gray;
    width: 100px;
    height: 100px;
    font-size: 60px;
    margin: auto;
    padding: 20px 0;
    border: 1px solid white;
    border-radius: 50%;
}
.profile .container .card .username{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    height: 30%;
    margin:30px ;
    padding: 40px;
    text-indent: 5px;
    position: relative;
}
.profile .container .card .username #usernam,#email1{
    width: 160px;
    margin-left: 10px;
}
.profile .container .card .username::before{
    content: "username:";
    text-transform: capitalize;
    text-shadow: 2px 2px var(--third-color);
}
.profile .container .card .username::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 210px;
    background-color: #a6a6a6;
    top:95px;
}
.profile .container .card .email{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    height: 30%;
    padding: 10px;
    text-indent: 5px;
    position: relative;
}
.profile .container .card .email::before{
    content: "email:";
    text-transform: capitalize;
    text-shadow: 2px 2px  var(--third-color);
}
/*responsive*/
@media(max-width:1140px){
    .profile .container .card{
        width: 300px;
    }
}
@media(min-width:1140px) {
    .profile .container .card{
        width: 300px;
    }
}
/*end profile*/